################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj
/Temp
/sniper1.sln
/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Sirenix.OdinInspector.CompatibilityLayer.csproj
/RSBRuntime.csproj
/RSBEditor.csproj
/PunDemos.DemoSlotcarEditor.csproj
/PunDemos.DemoHubEditor.csproj
/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
/PhotonUnityNetworking.Utilities.Culling.Editor.csproj
/PhotonUnityNetworking.Utilities.csproj
/PhotonUnityNetworking.Editor.csproj
/PhotonUnityNetworking.Demos.csproj
/PhotonUnityNetworking.csproj
/PhotonRealtime.csproj
/PhotonChat.csproj
/obj
/Logs
/Library
/FullscreenEditor.csproj
/Assets
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Animancer.FSM.csproj
/Animancer.Examples.csproj
/Animancer.csproj
/AmplifyShaderEditor.Samples.HDRP.csproj
/AmplifyShaderEditor.csproj
/.vsconfig
/.vs
